EMAIL_USE_SSL=1
EMAIL_HOST=smtp.ym.163.com
EMAIL_PORT=994
EMAIL_HOST_USER=pekja@werner.wiki
EMAIL_HOST_PASSWORD=**************

INIT_ADMIN_USER=admin
INIT_ADMIN_EMAIL=admin@example.com
INIT_ADMIN_PASSWORD=123456

# API for OneForAll
# 若没有API Key请删除相应的环境变量

# Censys可以免费注册获取API：https://censys.io/api
CENSYS_API_ID=xxxxxxxxx
CENSYS_API_SECRET=xxxxxxxxx

# Binaryedge可以免费注册获取API：https://app.binaryedge.io/account/api
# 免费的API有效期只有1个月，到期之后可以再次生成，每月可以查询250次。
BINARYEDGE_API=xxxxxxxxx

# Chinaz可以免费注册获取API：http://api.chinaz.com/ApiDetails/Alexa
CHINAZ_API=xxxxxxxxx

# Bing可以免费注册获取API：https://azure.microsoft.com/zh-cn/services/
# cognitive-services/bing-web-search-api/#web-json
BING_API_ID=xxxxxxxxx
BING_API_KEY=xxxxxxxxx

# SecurityTrails可以免费注册获取API：https://securitytrails.com/corp/api
SECURITYTRAILS_API=xxxxxxxxx

# https://fofa.so/api
FOFA_API_EMAIL=xxxxxxxxx  # FOFA用户邮箱
FOFA_API_KEY=xxxxxxxxx  # FOFA用户KEY

# Google可以免费注册获取API:
# https://developers.google.com/custom-search/v1/overview
# 免费的API只能查询前100条结果
GOOGLE_API_KEY=xxxxxxxxx  # GOOGLE API搜索KEY
GOOGLE_API_CX=xxxxxxxxx  # GOOGLE API搜索CX

# https://api.passivetotal.org/api/docs/
RISKIQ_API_USERNAME=xxxxxxxxx
RISKIQ_API_KEY=xxxxxxxxx

# Shodan可以免费注册获取API: https://account.shodan.io/register
# 免费的API限速1秒查询1次
SHODAN_API_KEY=xxxxxxxxx
# ThreatBook API 查询子域名需要收费 https://x.threatbook.cn/nodev4/vb4/myAPI
THREATBOOK_API_KEY=xxxxxxxxx

# VirusTotal可以免费注册获取API: https://developers.virustotal.com/reference
VIRUSTOTAL_API_KEY=xxxxxxxxx

# https://www.zoomeye.org/doc?channel=api
ZOOMEYE_API_USERMAIL=xxxxxxxxx
ZOOMEYE_API_PASSWORD=xxxxxxxxx

# Spyse可以免费注册获取API: https://spyse.com/
SPYSE_API_TOKEN=xxxxxxxxx

# https://www.circl.lu/services/passive-dns/
CIRCL_API_USERNAME=xxxxxxxxx
CIRCL_API_PASSWORD=xxxxxxxxx

# https://www.dnsdb.info/
DNSDB_API_KEY=xxxxxxxxx

# ipv4info可以免费注册获取API: http://ipv4info.com/tools/api/
# 免费的API有效期只有2天，到期之后可以再次生成，每天可以查询50次。
IPV4INFO_API_KEY=xxxxxxxxx

# https://github.com/360netlab/flint
# passivedns_api_addr默认空使用http://api.passivedns.cn
# passivedns_api_token可为空
PASSIVEDNS_API_ADDR=xxxxxxxxx
PASSIVEDNS_API_TOKEN=xxxxxxxxx

# Github Token可以访问https://github.com/settings/tokens生成,user为Github用户名
# 用于子域接管
GITHUB_API_USER=xxxxxxxxx
GITHUB_API_TOKEN=xxxxxxxxx
# Github子域收集模块使用
GITHUB_EMAIL=xxxxxxxxx
GITHUB_PASSWORD=xxxxxxxxx
